.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
}

.flex-item {
  /*border: 2px solid black;*/
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  min-height: 320px;
  /*max-height: 400px;*/
  word-break: normal;
}

.panel {
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid #DEB968;
}

select {
  font-family: 'Josefin Sans', sans-serif;
}

.panel-body {
  background-image: url('../../assets/img/zissoufullicon.png');
  background-position: center;
  text-shadow: 1px 1px #DEB968;
}

.panel-heading {
  background-color: #7CA6B4;
}

.animal-name {
  font-family: 'Cabin Sketch', cursive;
  font-size: 25px;
}

.animal-list {
  font-size: 16px;
}

/*font-family: 'Cabin Sketch', cursive;
font-family: 'Josefin Sans', sans-serif;*/
/*
light blue: #7CA6B4;
dark blue : #50899C;
pink: #C94342;
orange: #CE9F5B;
gold: #DEB968*/
