.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border: 2px solid black;

}

.flex-item {
  /*border: 2px solid black;*/
  margin: 10px;
  min-width: 250px;
  max-width: 300px;
  word-break: normal;
}

.panel {
  font-family: 'Josefin Sans', sans-serif;
}

select {
  font-family: 'Josefin Sans', sans-serif;
}

.panel-body {
  background-image: url('../../assets/img/zissoufullicon.png');
  background-position: center;
}
