<select (change)="onChange($event.target.value)">
  <option value="allAges" selected="selected">Filter By</option>
  <option value="younger" >Below 2 years</option>
  <option value="older">2 and older</option>
</select>




<div class="container">

  <ul *ngFor="let currentAnimal of childAnimalList | age:filterByAge">
    <h3>{{currentAnimal.species}}</h3>
    <li>{{currentAnimal.name}}</li>
    <li>{{currentAnimal.age}}</li>
    <li>{{currentAnimal.diet}}</li>
    <li>{{currentAnimal.location}}</li>
    <li>{{currentAnimal.caretakers}}</li>
    <li>{{currentAnimal.sex}}</li>
    <li>{{currentAnimal.likes}}</li>
    <li>{{currentAnimal.dislikes}}</li>

    <button (click)="editButtonClicked(currentAnimal)">Edit</button>


  </ul>


</div>
