<select (change)="onChange($event.target.value)">
  <option value="allAges" selected="selected">Filter By Age</option>
  <option value="younger" >Below 2 years</option>
  <option value="older">2 and older</option>
</select>


<div class="flex-container">

  <ul class="list-unstyled" *ngFor="let currentAnimal of childAnimalList | age:filterByAge">
    <div class="flex-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{currentAnimal.name}} <span class="species">{{currentAnimal.species}}</span>
        </div>
        <div class="panel-body">
          <li>{{currentAnimal.age}}</li>
          <li>{{currentAnimal.diet}}</li>
          <li>{{currentAnimal.location}}</li>
          <li>{{currentAnimal.caretakers}}</li>
          <li>{{currentAnimal.sex}}</li>
          <li>{{currentAnimal.likes}}</li>
          <li>{{currentAnimal.dislikes}}</li>
        </div>
        <div class="panel-footer">
          <button (click)="editButtonClicked(currentAnimal)">Edit</button>
        </div>
      </div>
    </div>
  </ul>
</div>
