<div *ngIf="childSelectedAnimal">
  <h3>Edit information for: {{childSelectedAnimal.name}} {{childSelectedAnimal.species}}</h3>
  <label>Edit Animal Species</label>
  <input [(ngModel)]="childSelectedAnimal.species" type="text">
  <label>Edit Animal Name</label>
  <input [(ngModel)]="childSelectedAnimal.name" type="text">
  <label>Edit Animal age</label>
  <input [(ngModel)]="childSelectedAnimal.age" type="number">
  <label>Edit Animal diet</label>
  <input [(ngModel)]="childSelectedAnimal.diet" type="text">
  <label>Edit Animal location</label>
  <input [(ngModel)]="childSelectedAnimal.location" type="text">
  <label>Edit Animal Caretakers</label>
  <input [(ngModel)]="childSelectedAnimal.caretakers" type="number">
  <label>Edit Animal Sex</label>
  <input [(ngModel)]="childSelectedAnimal.sex" type="text">
  <label>Edit Animal Likes</label>
  <input [(ngModel)]="childSelectedAnimal.likes" type="text">
  <label>Edit Animal Dislikes</label>
  <input [(ngModel)]="childSelectedAnimal.dislikes" type="text">



  <button (click)="editCompleteButtonClicked()">Edit Animal</button>
</div>
