.jumbotron {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin Sketch', cursive;
  font-size: 100px;
  /*color: #7CA6B4;*/
  color: #DEB968;
  text-shadow: 2px 2px black;
  text-align: center;
  background-color: rgba(198, 103, 73, 0.3);
}



/*STYLE INFORMATION*/
/*font-family: 'Cabin Sketch', cursive;
font-family: 'Josefin Sans', sans-serif;*/
/*
light blue: #7CA6B4;
dark blue : #50899C;
pink: #C94342;
orange: #CE9F5B;
gold: #DEB968*/
