/* You can add global styles to this file, and also import other style files */


.body {
  background-color: #50899C;
  background-image: url('./../src/assets/img/life-aquatic.jpg');
  background-size: cover;
}
